<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
</head>

    <header>
    <div id="logo"> <!--#logo -->
<a href="{{ url_for('logo')}}">
                <img class='img-logo' src="static/img/paw.png" alt="mypaw">
            </a>
         </div>
<!-- keep this code in mind for inserting/showing pictures ---->
<div id="title">
    <h1>mypaw</h1>
</div>
    <nav id="main-nav">
    <ul>
        <li><a href="/"><h2>Home</h2></a></li>
        <li><a href="/mypets"><h2>mypets</h2></a></li>
        <li><a href="/savedpets"><h2>savedpets</h2></a></li>
        <li><a href="/about"><h2>About</h2></a></li>
        </ul>
    </nav>
</header>

<section id="about">
<h1>About mypaw</h1>

    <h2>When looking after multiple animals, it can be difficult to keep track of all their needs. With mypaw, this gets easier! You can register different
    types of animals and collect all the information necessary: name, age, medication, special needs etc.! You can even save the status of your animal,
    meaning if it is your personal pet, a foster animal or if you're just the pet sitter.</h2>

    </section>
<body>

</body>
</html>