<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>savedpets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
</head>

<header>
    <div id="logo"> <!--#logo -->
<a href="{{ url_for('logo')}}">
                <img class='img-logo' src="static/img/paw.png" alt="mypaw">
            </a>
         </div>
<!-- keep this code in mind for inserting/showing pictures ---->
<div id="title">
    <h1>mypaw</h1>
</div>
    <nav id="main-nav">
    <ul>
        <li><a href="/"><h2>Home</h2></a></li>
        <li><a href="/mypets"><h2>mypets</h2></a></li>
        <li><a href="/savedpets"><h2>savedpets</h2></a></li>
        <li><a href="/about"><h2>About</h2></a></li>
        </ul>
    </nav>
</header>

<section id="savedpets">

    <h1>These are your saved pets!</h1>

    <h2>This is supposed to show the saved pets like this:</h2>

<!--- <div id="example"> <a href="{{url_for('example')}}">
    <img class="img-example"src="static/img/example.png"alt="example">
 </a>
    </div> ---------->

    <!-- ^ diesen code löschen, damit die website lädt ---->


</section>
<body>

</body>
</html>